body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  width: 100%;
  height: 70px;
  background-color: rgb(114, 250, 99);
  border-bottom: solid 2px rgb(90, 190, 79);
  color: white;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
.logo{
  font-size: 350%;
  margin-left: 4%;
}
main{
  width: 100%;
  background-color: rgb(196, 255, 190);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ContainerAddTodos{
  max-height: 50rem;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContainerTodos{
  min-height: 50rem;
  width: 55%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clearTodos{
  margin-top: 30px;
  font-size: 200%;
}
.TodosSortBtn{
  height: 50rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todosort{
  width: 50%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.todosort button{
  width: 100%;
  height: 20%;
  border: none;
  border-radius: 10px;
  background-color: yellowgreen;
}
.todosort button:hover{
  border:solid 1px rgb(54, 78, 6)
}
.AddTodo{
  width: 60%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.prioritiName{
  display: flex;
  width: 39%;
  justify-content: space-between;
  align-items: center;
  margin-left: 4%;
  margin-bottom: -20px;
}
.prioritiName p{
  color: rgb(194, 56, 56);

}
.prioritiForm{
  display: flex;
  width: 50%;
}
.AddTodo input{
  width: 90%;
  height: 50px;
  border: none;
  border-radius: 10px;
}
.AddTodo button{
  width: 70%;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: yellowgreen;
}
.AddTodo button:hover{
  border:solid 1px rgb(54, 78, 6)
}
.todolist{
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  font-family: "roboto" , sans-serif;
}
.done{
  text-decoration: line-through;
}


